[setting]
file_pattern   = archives.zip
hostname       = 16.60.160.90
hostport       = 1028
clientip       = 15.107.8.92
max_connection = 30
clientport     = 8081
exe7z          = C:\Program Files\7-Zip\7z.exe
log_level      = info
log_format     = %(levelname)s %(asctime)s pid:%(process)d %(message)s